ACManagement/AccountManagement/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:15317/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:15317/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:15317/Service1.svc?xsd=xsd2" />
      <xsd:import schemaLocation="http://localhost:15317/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ObjectData" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertAccountInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertAccountInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertAccountInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertAccountInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateAccountInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAccountInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateAccountInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAccountInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectAccountInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectAccountInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_SelectAccountInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectAccountInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteAccountInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAccountInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteAccountInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAccountInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetUserInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUserInfo" message="tns:IService1_GetUserInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUserInfoResponse" message="tns:IService1_GetUserInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertAccountInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertAccountInfo" message="tns:IService1_InsertAccountInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertAccountInfoResponse" message="tns:IService1_InsertAccountInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAccountInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateAccountInfo" message="tns:IService1_UpdateAccountInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateAccountInfoResponse" message="tns:IService1_UpdateAccountInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectAccountInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SelectAccountInfo" message="tns:IService1_SelectAccountInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SelectAccountInfoResponse" message="tns:IService1_SelectAccountInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAccountInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteAccountInfo" message="tns:IService1_DeleteAccountInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteAccountInfoResponse" message="tns:IService1_DeleteAccountInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertAccountInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertAccountInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAccountInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateAccountInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAccountInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/SelectAccountInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAccountInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteAccountInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:15317/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>